*{margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 1263px;
  text-decoration: none;
   
}    
.container{
   width: fit-content;
   height: 130px;
   min-width: 1263px;
   background: #343a40!important;
   background-size: 100%;
   background-repeat: no-repeat;
   margin-right: -505px;
} 
.vidul1114{
    background: url(—Pngtree—hd\ abstract\ tech\ background_578452.jpg);
    width: fit-content;
    min-width: 1263px;
    height: 480px;
}   
.menu ul{
   display: inline-flex;
   margin: 50px;
   color: white;
}
.menu ul li{
   list-style: none;
   margin: 0 20px;
   color: white;
   cursor: pointer;
   color: white;
   margin-top: 0px;
   text-decoration: none;
   
   
}
.logo img {
    width: 50px;
    margin-top: -10px;
    margin-right: 48px;
    border: white; 
    border-style: ridge;
}
.background{
    width: fit-content;
    max-width: 1262px;
    background-color: #42455a;
    height: fit-content;
    background-size: 100%;
    min-width: 1262px;
}
.hello{
    margin-top: 0px;
    margin-left: 30px;
}
.my{
    margin-left: 580px;
    color: white;
}
.www{
    margin-top: 30px;
    text-align: center;
}
.www{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.www::after{
    content: "";
    width: 0%;
    height: 5px;
    background-color: cyan;
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.www:hover::after{
    left: 0%;
    width: 30%; 
    margin-left: 440px;
    margin-right: 444px;
}
.card{
    margin-top: 30px;
    margin-left: 162px;
    border: 3px;
    height: 200px;

    width: 400px;
    border-color: black;
    border-style: solid;
    border-radius: 2rem;
}

.edit{
    margin-top: 30px;
    margin-left: 162px;
    border: 3px;
    border-color: black;
    height: 200px;
    
    width: 400px;
    border-style: solid; 
    border-radius: 2rem;
}

.acst{
    margin-left: 700px;
    margin-right: 162px;
    margin-top: -205px; 
    border: 3px;
    border-color: black;
    height: 200px;
    width: 400px;
    border-radius: 2rem;
    border-style: solid;
}

.pc{
    margin-top: -200px;
    margin-left: 700px;
    border: 3px;
    border-color: black;
    height: 200px;
    width: 400px;
    border-style: solid;
    border-radius: 2rem;
}

.vhb{
    color: lightblue;
    margin-left: 240px;
    margin-top: -18px;
}
.abc{
    background: lightgrey;
    min-width: 1262px;
    max-width: 1262px;
    height: 300px;
    width: fit-content;
    background-size: 100%;
    color: lig;
}
.vidul{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 80px;
    color: black;
}
.about{
    margin-left: 580px;
    color: black;
}
.ddd{
    background: white;
    width: 100%;
    height: 200px;
    background-size: 100%;
    min-width: 1262px;
    max-width: 1262px;
}
.con{
    margin-left: 570px;
}
.ba{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.ba::after{
    content: "";
    width: 0%;
    height: 5px;background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, cyan);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, cyan); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.ba:hover::after{
    left: 0%;
    width: 100%;

}
.co{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.co::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, cyan);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, cyan); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.co:hover::after{
    left: 0%;
    width: 100%;
}
.bl{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.bl::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0575E6, cyan);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0575E6, cyan); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.bl:hover::after{
    left: 0%;
    width: 100%;
}      
.abo{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.abo::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, cyan);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, cyan); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.abo:hover::after{
    left: 0%;
    width: 100%;
}
.iii ul{
    display: inline-flex;
    margin: 50px;
    color: white;
    margin-left: +100px;
} 
.iii ul li{
    list-style: none;
    margin: 0 40px;
    color: white;
    cursor: pointer;
    color: white;
    margin-top: 30px;
 }
.ooo{
    color: lightgrey;
    margin-right: 168px;
}
.yyyy{
    color: transparent;
    margin-right: 773px;
}
.you{
    height: 220px;
    width: 380px;
    border-radius: 1.7rem;
    background-color: lightblue;
    margin-left: 20px;
    margin-right:18px;
    margin-top: 100px;
    white-space: 100;
    border: 0px;
    border-color: transparent;
    border-style: solid;
    margin-bottom: 20px;
    
}
.pppp{
    color: lightblue;
}
.bbbbb{
    color: transparent;
}
.vide{
    background-color: lightblue;
    width: fit-content;
    min-width: 1263px;
    height: 500px;
}
.h3{ 
    margin-left: 570px;
} 
.mail{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}

.mail::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, white, red);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, white, red); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.mail:hover::after{
    left: 0%;
    width: 100%;
}      
.phone{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.phone::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, black, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, black, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.phone:hover::after{
    left: 0%;
    width: 100%;
}    
.ad{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.ad::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, lightblue);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, lightblue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.ad:hover::after{
    left: 0%;
    width: 100%;
}      
.blogger{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.blogger::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.blogger:hover::after{
    left: 0%;
    width: 100%;
}     
.github{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.github::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, white, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, white, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.github:hover::after{
    left: 0%;
    width: 100%;
}      
.youtube{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.youtube::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.youtube:hover::after{
    left: 0%;
    width: 100%;
}      
.instagram{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.instagram::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.instagram:hover::after{
    left: 0%;
    width: 100%;
}      
.twitter{
    font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    font-size: 110%;
    text-decoration: none;
    position: relative;
    color: cyan;
}
.twitter::after{
    content: "";
    width: 0%;
    height: 5px;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0%; left: 50%;
    border-radius: 10px;
    transition: all 500ms ease; 
}
.twitter:hover::after{
    left: 0%;
    width: 100%;
}
.edwi{
    border: black;
    border: 2px;
    border-style: solid;
    border-radius: 2rem;
    height: fit-content;
    width: 800px;
    margin-left: 231px;
    text-align: center;
    background-color: rgb(190, 190, 190);
}
.Grandfarthers{
    background-color: gray;
    text-align: center;
}
.lll{
    width: 200px;
    height: 240px;
}
.idda{
    border: black;
    border: 2px;
    border-style: solid;
    border-radius: 2rem;
    height: fit-content;
    width: 800px;
    margin-left: 231px;
    text-align: center;
    background-color: rgb(190, 190, 190);
}
.cccc{
    height: 240px;
    width: 280px;
}
.pcc{
    width: 400px;
    height: 400px;
    margin-left: 710px;
    margin-top: -600px;
    margin-bottom: 150px;
    border: black;
    border: 2px;
    border-style: solid;
    border-radius: 2rem;
}
.bits{
    margin-left: 150px;
    margin-top: 150px;
    border: black;
    border: 2px;
    border-style: solid;
    border-radius: 2rem;
}

.phc{
    height: 400px;
    width: 400px;
    margin-left: 160px;
    margin-top: 90px;
    border: black;
    border: 2px;
    border-style: solid;
    border-radius: 2rem;
}
.pho{
    height: 400px;
    width: 400px;
    margin-left: 710px;
    margin-top: -400px;
    border: black;
    border: 2px;
    border-style: solid;
    border-radius: 2rem;
}